@import "/styles/vars";

.outgoing-msg-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .outgoing-msg{
        background-color: $light-base-color;
        border-radius: 10px 10px 0;
        padding: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 50%;
    
        .img{
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }

        .text{
            font-size: 12px;
            font-weight: 300;
            color: $black;
            line-height: 15px;
        }

        .time{
            color: $grey;
            font-size: 9px;  
            text-align: right;
            margin-top: 5px;
            background: url("img/no-delivered.svg")  right 27px center no-repeat transparent;
        }

        .time.delivered{
            background: url("img/delivered.svg")  right 27px center no-repeat transparent;
        }

        .time.read{
            color: $base-color;    
            background: url("img/read.svg")  right 27px center no-repeat transparent;
        }
    }
}
