@import "../../styles/vars.scss";



input.cta-btn[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: $base-color;
    color: $white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
    
