    <div class = 'popup-block-invis {{classVisibility}}'>
        <div class = 'popup-block-container'>
            <div class = 'popup-block'>
                {{{closePopup}}}
                {{{content}}}
            </div> 
        </div>
        <div class = 'background-popup'></div>
    </div>