    <div class = '{{classVisibility}}'>
        <div class = 'popup-block-container'>
            <div class = 'popup-block'>
                <div class = 'close-block'>
                    <div class = 'close'>&times;</div>
                </div>

            </div> 
        </div>
        <div class = 'background-popup'></div>
    </div>