{{#defpage}}
    {{#leftside}}
        <div class = "fixed-container">
            <div class = "fixed-block">
                <div class = "left-top-block">
                    {{{profilePersonalLink}}} 
                    <div class = "right-block">
                        {{{linkEditChat}}}
                    </div>  
                </div>
            </div>
        </div>  

  
        {{{contactList}}}

  
    {{/leftside}}
    {{#rightside}}
        
        {{{dialog}}}
        
    {{/rightside}}
{{/defpage}}
