{{#defpage}}
    {{#leftside}}
        <div class = "fixed-container">
            <div class = "fixed-block">
                <div class = "left-top-block">
                    {{{ProfilePersonalLink}}} 
                    <div class = "right-block">
                        {{{Link href="/chat-edit" class = "chat-add"}}}
                    </div>  
                </div>
            </div>
        </div>  

  
        {{{ContactList contacts = contact_list ref = "contact_list" is_loaded = is_loaded}}}

  
    {{/leftside}}
    {{#rightside}}
        
        {{{Dialog dialog = dialog selectedChat=selectedChat send_msg_form = send_msg_form}}}
        
    {{/rightside}}
{{/defpage}}
