@import "/styles/vars";

.fixed-container-bottom{
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: #fff;

    .send-msg-form{
        position: fixed;
        padding: 0 20px;
        box-sizing: border-box;
        width: 70%;
        right: 0;
        bottom: 0;
        
        .form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: 1px solid $light-grey-border;
            padding: 10px 0;
            background-color: $white;

            .attach{
                margin: 0 15px 0 0;
                position: relative;

                .attach-btn{
                    height: 32px;
                    width: 32px;
                    background: url("/components/send_msg_form/img/attach.svg") center center no-repeat $white;
                    cursor: pointer;
                    border: none;
                }

                .attach-type-container{
                    display: none;
                    position: absolute;
                    bottom: 40px;
                    left: -10px;
                    
                    .attach-type{
                        background-color: $white;
                        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%),0 2px 10px 0 rgb(0 0 0 / 16%);
                        border-radius: 12px;
                        width: 130px;
                        padding: 16px;

                        li{
                            padding-left: 30px;
                            line-height: 36px;
                            color: $black;
                            font-size: 12px;
                            cursor: pointer;
                        }

                        .pic{
                            background: url("/components/send_msg_form/img/attach-picture.svg") left center no-repeat;
                            
                        }
                        
                        .doc{
                            background: url("/components/send_msg_form/img/attach-document.svg") left center no-repeat;
                          
                        }
                        
                        .loc{
                            background: url("/components/send_msg_form/img/attach-location.svg") left center no-repeat;
                   
                        }
                    }

                    .attach-file{
                        display: none;
                    }
                }

                .attach-type-container.visible{
                    display: block;
                }
            }

            .msg{
                width: 100%;
                position: relative;
                
                textarea{
                    background-color: $light-grey-bckg1;
                    border-radius: 30px;
                    border: none;
                    width: 100%;
                    padding: 8px 20px 5px;
                    height: 32px;
                    box-sizing: border-box;
                    line-height: 20px;
                    overflow: hidden;
                    
                }

                .invisible-text-container{
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    .dublicate-msg{
                        width: 100%;
                        height: auto;
                        color: $white;
                        padding: 8px 20px 5px;
                        font-size: 20px;
                        box-sizing: border-box;
                        word-wrap: break-word;
                        line-height: 20px;
                        font-family: monospace;
                    }
                }
                
            }

        }
        
    }    

}

.msg-add-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subheader{
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
    }

    .img{
        width: 300px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .file-name{
        text-align: center;
        margin-bottom: 10px;
    }

    .file{
        width: 50px;
        margin-bottom: 10px;
    }

}
