<span>
<div class = "fixed-container-bottom">
    <div class = "send-msg-form">
        <form class = "form">
            {{{sendMsgText}}}
            {{{sendMsgBtn}}}
        </form>    
    </div>  
</div>
</span>

