<div class = "popup-block-invis" data-act-selector = "{{popupSelector}}">
    <div class = "popup-block-container">
        <div class = "popup-block">
            <div class = "close-block">
                <div class = "close">&times;</div>
            </div>
            {{popupContent}}
        </div>
    </div>
    <div class = "background-popup"></div>
</div>