

.container{
    align-items: center;
    height: 100vh;
    .form-module{
        box-sizing: border-box;
        width: 340px;
        height: 460px;  
        margin: auto;  
        border: 1px solid #cccccc;
        padding: 40px 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 0px #00000024;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        @media #{$mobile}{
            box-shadow: 0px 0px 6px 0px #00000024;
            border: none;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
        }

        .form-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media #{$mobile}{
                height: 60%;
            }
        }

        

        .form-footer{

            .reg-link{
                margin-top: 20px;
                display: block;
                font-size: 11px;
            }
         }
    }     
}




