@import "./vars.scss";

.container{
    display: flex;
    flex-direction: row; 
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: $black;

    h1{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    a{
        color: $base-color;
        text-decoration: none;

    }

    input, textarea{
        outline:none;
        font-size: 16px;
    }
    input[type="submit"]{
        font-size: 13px;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $grey;
        font-size: 13px;
        font-family: 'Inter', sans-serif;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $grey;
       opacity:  1;
       font-size: 13px;
       font-family: 'Inter', sans-serif;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $grey;
       opacity:  1;
       font-family: 'Inter', sans-serif;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    $grey;
       font-size: 13px;
       font-family: 'Inter', sans-serif;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    $grey;
       font-size: 13px;
       font-family: 'Inter', sans-serif;
    }
    ::placeholder { /* Most modern browsers support this now. */
       color:    $grey;
       font-size: 13px;
       font-family: 'Inter', sans-serif;
    }

    
}