

.container{
    .container-inner{
        .profile-body{



        }
        .profile-footer{
            .subheader{
                font-size: 16px;
                font-weight: 600;
                text-align: left;
                margin-bottom: 20px;
            }
        }

    }
}



