@import "/styles/vars";

.container{
    .container-inner{
        .profile-photo{
            display: block;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            padding-bottom: 20px;
        }

        .profile-header{
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 40px;
        }

        .profile-header.left{
            text-align: left;
        }

        .profile-body{
            width: 100%;

    
        }
        
        .profile-footer{
            padding-top: 25px;
            width: 100%;

            .action-link{
                border-bottom: 1px solid $light-grey-bckg1;
                padding: 10px 0;
                width: 100%;

                &:last-child{
                    border-bottom: none;
                }

                a{
                    font-size: 13px;
                }

                .exit{
                    color: $err-text;
                }
            }
        }


    }     
}




