/*Экраны*/
$tablet: "screen and (max-width: 1024px)";
$mobile: "screen and (max-width: 580px)";



/*Цвета*/
$base-color: #3369F3;
/*$base-color: #1D7320;*/
$light-base-color: #E4EDFD;
$white: #ffffff;
$accent-white: #FBFBFB;
$grey: #999999;
$light-grey-border: #EAEAEA;
$light-grey-bckg1: #EFEFEF;
$light-grey-bckg2: #E8E5E5;
$err-text: #FF2F2F;
$black: #1E1E1E;