/* Экраны */
$tablet: "screen and (max-width: 1024px)";
$mobile: "screen and (max-width: 580px)";



/* Цвета */
$base-color: #3369f3;

/* $base-color: #1D7320; */
$light-base-color: #e4edfd;
$white: #fff;
$accent-white: #fbfbfb;
$grey: #999;
$light-grey-border: #eaeaea;
$light-grey-bckg1: #efefef;
$light-grey-bckg2: #e8e5e5;
$err-text: #ff2f2f;
$err-text-back: #fce6e6;
$black: #1e1e1e;
