<a href = "#" class = "profile-photo">
    <div class = "profile-img" style="background: url('{{profilePhoto}}') 50% 50% no-repeat; background-size: cover;"></div>
    <div class = "change-avatar invis"><span>Поменять аватар<span/></div>
</a>


