@import "/styles/vars";

.profile-photo{
    position: relative;
    margin-top: 60px;

    .profile-img{
        width: 130px;
        height: 130px;
        border: 50%;
    }

    .change-avatar{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        background-color: $black;
        color: $white;
        border: none;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        text-align: center;
        box-sizing: border-box;
        font-size: 13px;
        padding: 20px;
        display: none;
    }

    .change-avatar.visible{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   

}
