
<div class = "member-item">
    <a href = "{{memberLink}}" class = "member-info">
        <img src = "{{memberPhoto}}" class = "member-photo"/>
        <div class = "member-login">{{memberLogin}}</div>
        <div class = "member-name">{{memberName}}</div>
    </a>
    {{#if memberAdd}}
        <a href = "#" class = "member-add"></a>
    {{/if}}
</div>
