<div class = "container gradient">
    <div class = "form-module">
        <h1>Вход</h1>
        <form url="{{urlSubmit}}" class = "form-container">
            <div class = "form-body">
                {{> input inputName="login" inputLabel = "Логин" inputId="loginId" inputType="text" errorText = "Тестовая ошибка"}}
                {{> input inputName="password" inputLabel = "Пароль" inputId="passId" inputType="password" errorText = "Тестовая ошибка"}}
            </div>
            <div class = "form-footer">
                {{> submit-btn buttonText="Войти"}}
                {{> button-secondary hrefLink="#" classLink = "reg-link" textLink="Зарегистрироваться"}}
            </div>
        </form>
    </div>
</div>