<div class = "container">
    <div class = "left-side">
        <div class = "left-side-content">
            <a class = "profile-link" href = "#">Профиль &gt;</a>
            {{> search }}
            <div class = "contact-list">
                {{> contact-item contactImg = "/../components/contact-item/img/noimgprofile.svg" contactName = "Андрей" contactMsg = "Изображение" contactTimeMsg = "10:00" contactQMsg="3"}}
                {{> contact-item contactImg = "/../components/contact-item/img/noimgprofile.svg" contactName = "Павел Александрович" contactMsg = "Зайдешь сегодня?" contactTimeMsg = "5 апр 2023" yourMsg="1"}}
                {{> contact-item contactImg = "/../components/contact-item/img/noimgprofile.svg" contactName = "Павел Александрович" contactMsg = "Очень длинное сообщение, которое не помещается в одну строку и даже не пмещается в выделенную ему область" contactTimeMsg = "5 апр 2023" yourMsg="1"}}
            </div>  
        </div> 
    </div>

    <div class = "right-side">
        <div class = "empty-msg">Выберите чат, чтобы отправить сообщение</div>
    </div>
</div>
