<div class = "error-page container">
    <div class = "error-number">{{errorNumber}}</div>
    <div class = "error-text">{{errorText}}</div>
    <a href="{{errorHref}}" class="error-link">{{errorLinkText}}</a>
</div>    