<div class = "container">
    {{> back-link linkUrl = "/chat"}}
    <form class = "container-inner"  action = "#">
            <a href = "#" class = "profile-photo">
                <img src = "{{profilePhoto}}" />
            </a>
            <div class = "profile-body password-edit">
                {{> profile-item infoLabel = "Старый пароль" infoValue = "111111" infoName = "oldPassword" infoType = "password" editMode = "yes"}}  
                {{> profile-item infoLabel = "Новый пароль" infoValue = "11111111" infoName = "newPassword"  infoType = "password" editMode = "yes"}}  
                {{> profile-item infoLabel = "Повторите новый пароль" infoValue = "11111111" infoName = "first_name"  infoType = "password" editMode = "yes"}}  
            </div>



            <div class = "profile-footer form-footer">
                {{> submit-btn buttonText="Сохранить"}}
            </div>
        
    </form>
</div>