<div class = "container">
    {{> back-link linkUrl = "/chat"}}
    <form class = "container-inner" action = "#">
            <a href = "#" class = "profile-photo">
                <img src = "{{profilePhoto}}" />
            </a>
            <div class = "profile-header">Иван</div>
            <div class = "profile-body">
                {{> profile-item infoLabel = "Почта" infoValue = "pochta@yandex.ru" infoName = "email" editMode = "yes"}}  
                {{> profile-item infoLabel = "Логин" infoValue = "ivanivanov" infoName = "login"  editMode = "yes"}}  
                {{> profile-item infoLabel = "Имя" infoValue = "Иван" infoName = "first_name"  editMode = "yes"}}  
                {{> profile-item infoLabel = "Фамилия" infoValue = "Иванов" infoName = "second_name"  editMode = "yes"}}  
                {{> profile-item infoLabel = "Имя в чате" infoValue = "Иван" infoName = "display_name"  editMode = "yes"}}    
                {{> profile-item infoLabel = "Телефон" infoValue = "+7 (909) 967 30 30" infoName = "phone"  editMode = "yes"}} 
            </div>



            <div class = "profile-footer form-footer">
                {{> submit-btn buttonText="Сохранить изменения"}}
            </div>

        
    </form>
</div>