<div class = "fixed-container-bottom">
    <div class = "send-msg-form">
        <form class = "form">
            <div class = "attach">
                <button class = "attach-btn"></button>
                <div class = "attach-type-container">
                    <div class = "attach-type">
                        <ul>
                            <li class = "pic">
                                Фото или видео
                            </li>
                            <li class = "doc">
                                Файл
                            </li>
                            <li class = "loc">Локация</li>
                        </ul>
                        <input type = "file" name = "attach" class = "attach-file" accept="image/*"/>
                    </div>
                </div>
            </div>
            <div class = "msg">
                <div id = "test"></div>
                <textarea id = "send-msg" class = "send-msg" placeholder="Сообщение" name = "message"></textarea>
                <div class = "invisible-text-container">
                    <div class = "dublicate-msg">
                       
                    </div>
                </div>
                
            </div>
            <div class = "send-btn">
                <input type="submit" value=""/>
                
            </div>
        </form>    
    </div>  
</div>