.send-btn{
    margin: 0 0 0 15px;

    button.arrow{
        background: url("/components/send_msg_form/img/send.svg") center center no-repeat $white;
        height: 32px;
        width: 32px;
        border: none;
    }
}           
