@import "/styles/vars";


.fixed-container{
    position: fixed;
    left:0;
    right: 0;
    width: 100%;
    color: #000;

    .chat-info-block{
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        box-sizing: border-box;
        width: 70%;
        right: 0;
        
        .chat-info{
            border-bottom: 1px solid $light-grey-border;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
            padding-top: 10px;
            background-color: $white;
            box-shadow: 0 4px 5px -5px rgb(0 0 0 / 12%);

            .chat-info-left{
                width: 75%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .chat-img{
                    margin-right: 5px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .chat-name{
                    margin-left: 5px;
                    color: $black;
                    font-weight: 600;
                    font-size: 13px;
                }
            }

            .chat-info-right{
                width: 20%;
        
            }
        }
        

    
        .chat-info-right.persoanl-settings{
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;

            .info{
                display: block;
                height: 30px;
                width: 30px;
                background: url("/components/chat_info/img/info.svg") center center no-repeat;
                padding: 2px;
                border-radius: 50%;
            }

            .delete{
                display: block;
                width: 30px;
                height: 30px;
                background: url("/components/chat_info/img/delete.svg") center center no-repeat;
                padding: 2px;
                border-radius: 50%;
            }

            .edit{
                display: block;
                width: 30px;
                height: 30px;
                background: url("/components/chat_info/img/edit.svg") center center no-repeat;
                padding: 2px;
                border-radius: 50%;
                background-size: 47%;
            }
    
            .info.selected{
                background: $light-grey-bckg2 url("/components/chat_info/img/info-selected.svg") center center no-repeat;
            }

            .delete.selected{
                background: $light-grey-bckg2 url("/components/chat_info/img/delete-selected.svg") center center no-repeat;
                
            }
        }
    }
    
    
}
