@import "../../styles/vars.scss";

.caption-input{
    background-color: $light-grey-bckg1;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
