@import "/styles/vars.scss";
.container{
    height:auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    .container-inner{
        width: 50%;
        max-width: 800px;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.back-link{
    height: 100vh;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 1px solid $light-grey-border;
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    background: url(/img/back-link.svg) center center no-repeat $light-grey-bckg1;
    
    
}