{{#if selectedChat}}
<div class = "dialog-block">
    {{{chatInfo}}}
    <div class = "dialog">
        {{#each items_dialog}}
            {{{this}}}
        {{/each}}
    </div>
    {{{sendMsgForm}}}
</div>
{{else}}
    <div class = "empty-msg">Выберите чат, чтобы отправить сообщение</div>
{{/if}}
