<a href = '#' class = "left-block">
    <img class = "profile-photo" src = "{{profile_img}}" alt = "{{profile_name}}"/>
    <div class = "profile-name">{{profile_name}}<span  class = "arrow">&gt;</span></div>
</a>
