<form url = "{{submit_url}}" class = "search-form">
    <input name = "search" type="text" value="{{value}}" class = "{{#if not_focused}}empty-search{{/if}} search-input {{#if left_align}}left-align{{/if}}" {{#if placeholder}} placeholder = "{{placeholder}}"{{/if}}/>
    <input name = "submit" type = "submit" />
</form>  
