<div class = "outgoing-msg-container">
    <div class = "outgoing-msg">
        {{#if msgImg}}
            <img src = "{{msgImg}}" class = "img" alt="{{msgText}}"/>
        {{/if}}
        <div class = "text">{{msgText}}</div>
        <div class = "time read">{{msgTime}}</div>
    </div>  
</div>    
  