@import "../../styles/vars.scss";


.msg-add-block{
    .img{
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    input[type = "text"]{
        color: $light-base-color;
        border-radius: 8px;
    }
}