    <div class = "profile-footer">
        <div class = "subheader">Добавить участника</div>
        <div class="search-form">
            {{{search}}}
            <div class = "member-list">
                {{#each results}}
                    {{{this}}}
                {{/each}}
            </div>
        </div>
    </div>
