    <div class = "profile-footer">
        <div class = "subheader">Добавить участника</div>
        <div class="search-form">
            {{{search}}}
            <div class = "member-list">
                {{#if alt_message}}
                    <div class = "no-result">Нет совпадений</div>
                {{else}}
                    {{#each results}}
                        {{{memberShortInfo}}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
