<form class = 'add-chat' action = '#'>
    {{{errorMsg}}}
    <div class = "ask-text">Вы уверены,<br/> что хотите удалить чат <b>{{title}}</b> и <br/>всех его пользователей?</div>
    <div class = "button-block">
        {{{submitBtnDelete}}}
        {{{submitBtnCancel}}}
    </div>
    
</form>

