<a href = "#" class = "profile-photo">
    <img src = "{{profilePhoto}}" />
    <div class = "change-avatar"><span>Поменять аватар<span/></div>
</a>

<!--этот шаблон замениться на html-разметку для всплывающего окна-->
{{> popup popupContent = "???" popupSelector = ".change-avatar"}}




