    <div class = "contact-list">
        {{#each contacts}}
            {{{ContactItem contactSelected = contactSelected contactDialogLink = contactDialogLink contactImg = contactImg contactName = contactName yourMsg = yourMsg contactMsg = contactMsg contactTimeMsg = contactTimeMsg contactQMsg = contactQMsg onClick = onClick}}}
        {{/each}}
    </div>
