    <div class = "contacts"> 
        <div class = "contact-list">
            {{#if is_loaded}}
                {{#each contacts}}
                    {{{this}}}
                {{/each}}
            {{else}}
                Идет загрузка...
            {{/if}}
        </div>
    </div>
