    <div class = "contacts">
        <div class = "fixed-container search-block">
            <div class = "fixed-block">      
                {{{Search submit_url = search.submit_url not_focused="yes"}}}
            </div>
        </div>  
        <div class = "contact-list">
            {{#if is_loaded}}
                {{#each contacts}}
                    {{{this}}}
                {{/each}}
            {{else}}
                Идет загрузка...
            {{/if}}
        </div>
    </div>
