   <div class = "profile-footer">
        <div class = "subheader">Участники</div>
        <div class = "member-list-line">
            {{#each members}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
