    <div class = "profile-footer">
        <div class = "subheader">Участники</div>
        <div class = "member-list">
            {{#each member_list}}
                {{{MemberShortInfo id=id memberName = name memberLogin = login memberLink = "#" memberPhoto = "/img/noimgprofile.svg" hiddenInput = "yes"}}}
            {{/each}}
        </div>
    </div>
